@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body{
    font-family: "Fira code", monospace;
    background-color: #191919;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    font-size: larger;
    background-color: transparent;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    margin: none;
    height: 50px;
    width: 93.651%;
}

nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    gap: 50px;
    padding: 0;
    margin: none;
}

#nav-links a{
    text-decoration: none;
    color: black;
}

.sub-boxlinks{
    border-radius: 20px;
}

#nav-links a:hover{
    text-decoration: none;
    color: black;
    padding: 25px 15px 25px;
    margin: none;
    border: 1px solid black;
    margin-left: 1px solid black;
    margin-right: 1px solid black;
    background-color: black;
    color: white;
}

#home{
    background-image: url(images/image.png);
    background-size: 100%;
    background-position: fixed;
    height: 100vh;
    width: 90%;
    margin: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    padding: 5%;
    color: rgb(224, 233, 117);
}